@import "var";

.footer {
    background: $darkGrey;

    .footer__block {
        display: flex;
        justify-content: space-between;
    }
    .social-list {
        display: flex;
        list-style: none;

    }
}

.footer__block {
    color: white;
}

@media (max-width: 500px) {
    .footer__block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}