@import "var";

.product__sub-title {
    margin-bottom: 48px;
}

.product__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

@media (max-width: 1280px) {
    .product__block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 911px) {
    .product__block {
        grid-template-columns: 1fr;
    }
}

.product__hover {
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.btn-add-cart {
    position: relative;
    background: transparent;
    padding: 10px 20px 10px 40px;
    color: $white;
    border: 1px solid $white;
    cursor: pointer;
    &:before {
        position: absolute;
        content: '';
        background: url("../img/cart.svg")no-repeat left/cover;
        width: 22px;
        height: 20px;
        left: 8px;
        top: 8px;
    }
}

.product__item {
    background: $bg_product_item;
    overflow: hidden;

    &:hover .product__hover {

        display: flex;
        transform: translate(0);
    }
}


.product__picture {
    position: relative;
    display: flex;
    justify-content: center;
    background: #f3eded;
}

.product__img {
    height: auto;
}

.product__description {
    color: $lightGrey;
    font-size: 14px;
}

.product__price {
    color: $pink;
}

.product__info {
    padding: 1rem;
}

.product__name {
    text-transform: uppercase;
}

.product__btn {
    width: 212px;
    margin: 50px auto 95px;
    font-size: 14px;
    border: 1px solid transparent;

    &:hover {
        color: $pink;
        background: $white;
        border: 1px solid $pink;
    }
}
