@import "var";

.product-page {

}

.product-page__box {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 1.5rem;
    }
}

.product-slider {
    img {
        width: 100%;
    }
}

.breadcrumb {
    text-transform: uppercase;
    .breadcrumb__item {
        &:nth-child(2){
            &:before,
            &:after {
                content: '/';

            }
        }
    }
}
._active-link {
    color: $pink;
}