@import "var";

.social__svg {
    fill: #000;
    width: 15px;
    height: auto;
}

.social-list__item:hover .social__svg {
    fill: white;
}

.social-list__item {
    width: 32px;
    height: 32px;
    background: $white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
        background: $pink;
    }
}