@import '../../node_modules/swiper/swiper-bundle';
@import "header";
@import "top";
@import "var";
@import "wrap";
@import "search";
@import "burger-menu";
@import "promo";
@import "product";
@import "title";
@import "feature";
@import "favorites";
@import "subscribe";
@import "footer";
@import "form";


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    color: $white;
    background: $pink;
    padding: 10px 15px;
    border: none;
    display: block;
}

._active {
    display: flex;
}


.social-list__item {
    width: 32px;
    height: 32px;
    background: $white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: $pink;
    }
}