$lightPink: #F1E4E6;
$grey: #6F6E6E;
$pink: #F16D7F;
$white: #ffffff;
$lightGrey: #5D5D5D;
$bg_product_item: #F8F8F8;
$darkGrey: #222222;
$lightGrey-input: #E1E1E1;

$border_input: 1px solid #E1E1E1;
$lightGrey-text: #5E5E5E;
