$lightPink: #F1E4E6;
$grey: #6F6E6E;
$pink: #F16D7F;
$white: #ffffff;
$lightGrey: #5D5D5D;
$bg_product_item: #F8F8F8;
$darkGrey: #222224;
$lightGrey-input: #E1E1E1;



body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    color: $white;
    background: $pink;
    padding: 10px 15px;
    border: none;
    display: block;
}



.slogan {
    position: absolute;
    top: 50%;
    left: 60%;

    &:nth-child(1) {
        font-size: 48px;
    }
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 10%;
    background: #fff;
    min-width: 232px;
    min-height: 634px;
}

._active {
    display: flex;
}

.menu-sub li {
    padding-left: 1rem;
}

.menu-sub__link {
    color: $grey;
    font-size: 14px;
    padding: 5px 15px;
    display: block;
}

.menu__link {
    padding: 5px 15px;
    display: block;
    color: $pink;
    text-transform: uppercase;
}

.top-block {
    background: #222;
    width: 100%;
    height: 75px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    //align-items: baseline;
    padding-top: 1rem;

}

.top-block__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.top-block__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#search {
    visibility: hidden;
}

.menu-top__line {
    position: relative;
    display: block;
    width: 30px;
    height: 1px;
    background: $white;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 30px;
        height: 1px;
        background: $white;

    }

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 30px;
        height: 1px;
        background: $white;

    }
}

.promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.last-child {
    grid-column: 1/4;
}

.product__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.product__item {
    background: $bg_product_item;
}

.product__picture {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 420px;
    background: #f3eded;

    .product__img {

    }
}

.product__description {
    color: $lightGrey;
    font-size: 14px;
}

.product__price {
    color: $pink;
}

.product__info {
    padding: 1rem;
}

.product__name {
    text-transform: uppercase;
}

.product__btn {
    width: 212px;
    margin: 50px auto 95px;
    font-size: 14px;
    border: 1px solid transparent;

    &:hover {
        color: $pink;
        background: $white;
        border: 1px solid $pink;
    }
}

//FEATURE

.feature {
    background: $darkGrey;
}

.feature__block {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.feature__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.feature__description {
    text-align: center;
    color: #FBFBFB;
    font-weight: 100;
}

.favorites__item {
    display: flex;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 1px;
        background: #222;
        transform: rotate(-45deg);
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 1px;
        background: #222;
        transform: rotate(45deg);
        cursor: pointer;
    }
}

.favorites__picture {
    img {
        width: 262px;
        height: auto;
    }
}

.favorites__name, {
    font-size: 24px;
    font-weight: 100;
    color: #222;
}

.favorites__info {
    font-weight: 100;
    color: #222;
    padding-left: 30px;

    span {
        font-size: 22px;
    }
}

.subscribe {
    display: flex;
    justify-content: space-between;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.form__block {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        display: block;
        padding: 15px 30px;
        background: $lightGrey-input;
        border: 0;
    }
    .form_email {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .form_send {
        background: $pink;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

.footer {
    background: $darkGrey;
    color: $white;

    .footer__block {
        display: flex;
        justify-content: space-between;
    }
    .social-list {
        display: flex;
        list-style: none;

    }
}

.social-list__item {
    width: 32px;
    height: 32px;
    background: $white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}